body{
    background:url("./images/bg_1.jpg");
}
.z2{
    width:fit-content;
    background-color:white;
    color:blue;
    padding:5px;
    font-size:30px;
    border-radius: 10px;
    border:2px solid black;
}